DB_URL=jdbc:mysql://localhost:3306/ecommerce_db?allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=UTC
DB_USERNAME=root
DB_PASSWORD=replace-me

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DATABASE=1

APP_ENV=dev
JPA_SHOW_SQL=false
JWT_SIGNER_KEY=replace-with-a-random-secret-containing-at-least-64-characters
