@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --color-nexa-blue: #0066cc;
  --color-nexa-red: #ee4d2d;
  --color-nexa-gray-bg: #f4f4f4;
  --color-nexa-text-gray: #757575;
}

@utility container-custom {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 24px;
}

@utility custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #cbd5e1 transparent;
  
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 20px;
  }
}
